* {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: center;
    height: 100vh;
}

.container .cont_datos {
    justify-content: space-between;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 50%;
    border-radius: 10px;
    background-color: #ededed;
}

.container .cont_datos .encabezado {
    gap: 0.5rem;
    display: flex;
    align-items: center;
    
}

.container .cont_datos .encabezado .icon {
    width: 4%;
}

.container .cont_datos .encabezado img {
    width: 100%;
}

.container .cont_datos .encabezado h4 {
    width: 96%;
    font-size: 18px;
    color: #dc3545;
}

.container .cont_datos .avatar {
    gap: 20px;
    align-items: center;
    display: flex;
    height: 100px;
}

.container .cont_datos .avatar .img {
    width: 15%;
}

.container .cont_datos .avatar .img img {
    border: 4px solid #dc3545;
    border-radius: 50%;
    width: 100%;
}

.container .cont_datos .avatar h3 {
    font-size: 30px;
    width: 85%;
}

.container .cont_datos .datos {
    gap: 40px;
    display: flex;
    flex-direction: column;
}

.container .cont_datos .datos .columna {
    display: flex;
}

.container .cont_datos .datos .columna .elemento {
    flex: 1;
}

.container .cont_datos .datos .columna .elemento h5 {
    font-size: 20px;
}

.container .cont_datos .datos .columna .elemento p {
    font-size: 20px;
}

.container .cont_datos .botones {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 8rem;
}

.container .cont_datos .botones .btn button {
    display: inline-block;
    color: white;
    background-color: #dc3545;
    padding: 10px 10px;
    border-radius: 10px;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    border: none;
}

.container .cont_acciones{
    justify-content: space-between;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 50%;
}

.container .cont_acciones .titulo {
    display: flex;
}

.container .cont_acciones .titulo h2 {
    color: #dc3545;
    border-bottom: 2px solid #dc3545;
    display: inline;
}

.container .cont_acciones .anuncios {
    display: flex;
    border: 2px solid #dc3545;
    padding: 5rem;
}

.container .cont_acciones .mat_asociadas {
    display: block;
    border: 2px solid #dc3545;
    padding: 5rem;
    position: relative;
    
}
/* .container .cont_acciones .mat_asociadas .mate a{
    font-size: 20px;
    color: black;
    text-decoration: none;
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 10px;
    padding-left: 10px;
   
    
} */



.container .cont_acciones .cierre {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: right;
}

.container .cont_acciones .cierre button{
    display: inline-block;
    color: #dc3545;
    background-color: #ffffff;
    padding: 10px 10px;
    border-radius: 10px;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    border: none;
}

.cajaMateria{
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
    display: block;
    max-width:auto;
    min-height: 50px;
}

.textoMateria{
    color: #dc3545;
    text-decoration: none;
    font-weight: bold;
    font-size: 50px;
}